<!-- Create new topic -->
<div class="maintitle">
    <%= link_to "Home", root_path %>
     &raquo; New Topic

</div> <Br />

<table border="0" cellspacing="1" cellpadding="0" class="fborder">
<tr>
<td class="maintitle">New Topic</td>
</tr>
<tr>
<td class="subforum"> </td>
</tr>


<%= render 'form' %>
</td>
</tr>
</table>

