<!-- Editing new post -->
<div class="maintitle">
    <%= link_to "Home", root_path %>
     &raquo; <%= link_to "topic", root_path %>
     &raquo; Edit Post

</div> <Br />

<table border="0" cellspacing="1" cellpadding="0" class="fborder">
<tr>
<td class="maintitle">Edit Post</td>
</tr>
<tr>
<td class="subforum"> </td>
</tr>



<%= render 'form' %>

</td>
</tr>
</table>